.each-similar-job-container {
  width: 400px;
  border: 1px solid #000;
  padding: 20px;
  margin: 20px;
  list-style-type: none;
}
.logo-title-container {
  display: flex;
}
.similar-logo-image {
  height: 40px;
  width: 40px;
}
