.not-found-container {
  background-color: #000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ffffff;
}

.not-found-img {
  height: 300px;
  width: 300px;
}
