.login-form-total-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  padding: 20%;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 25px;
  align-items: center;
  height: 50vh;
  width: 50%;
  border-radius: 15px;
  background-color: #202020;
}

.input-label {
  color: #f8fafc;
  font-weight: bold;
}

.password-input-field,
.username-input-field {
  color: #f8fafc;
  background-color: #202020;
  width: 100%;
  padding: 7px;
  border: 1px solid #b6c5ff;
  margin-top: 5px;
}

.login-button {
  color: #f1f5f9;
  background-color: #6366f1;
  padding: 5px;
  width: 70%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.error-message {
  color: #ff0b37;
  align-self: left;
}

.website-logo-image {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .form-container {
    width: 100%;
  }
}
