.navbar-container {
  padding: 23px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #272625;
  padding-left: 50px;
  padding-right: 50px;
}

.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  color: #ffffff;
  font-weight: 500;
}

.header-website-logo {
  height: 40px;
}
.logout-button {
  padding: 10px;
  border: 0px;
  background-color: #6366f1;
  font-weight: 500;
  color: #ffffff;
  border-radius: 4px;
  width: 80px;
  cursor: pointer;
}

p {
  color: #ffffff;
  text-decoration: none;
}

.link-decoration {
  text-decoration: none;
  color: #ffffff;
}

.mobile-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #272625;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.logout-icon {
  background-color: transparent;
  border: 0px;
  color: #ffffff;
  font-size: 25px;
  cursor: pointer;
}

.nav-symbols {
  font-size: 25px;
}

.nav-symbols-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

@media (max-width: 767px) {
  .navbar-container {
    display: none;
  }

  .nav-symbols-container {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .mobile-nav-bar {
    display: none;
  }
}
